body {
  background-color: #f2f2f2 !important;
  font-family: Urbanist !important;
}

/* signup */

.input-signup {
  padding: 8px;
  padding-left: 20px;
  border: none;
  width: 80%;
  border-radius: 20px;
}
.signup-button {
  background-color: "#9e9284";
  color: "white";
  border: "none";
  padding: "10px 20px";
  border-radius: "5px";
  font-weight: "bold";
  cursor: "pointer";
}

/* navbar */

.navbar-all {
  margin: 10px 20px 0px 20px;
  background-color: #fff !important;
  border-radius: 100px;
  height: 70px;
  padding: 0px 40px 0px 40px;
}

.but-1 {
  border-radius: 50px !important;
  width: 125px;
}
.paw {
  height: 100px;
  width: 150px;
}

.nav-link {
  margin-right: 10px;
}

/* home page */

.hero-img {
  height: 600px;
  width: 100%;
  border-radius: 50px;
}
.hero {
  margin-top: 40px !important;
  
}
.hero-left {
  padding-top: 100px;
}
.back {
  background-image: url("https://cdn.prod.website-files.com/67607a4da94c236117377bec/6764819726da5b0ff20bf33d_arrow-pink.webp");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 85%;
  padding-bottom: 0.5rem;
  position: relative;
}
.but-2{
  padding: 10px 20px 10px 20px !important;
  border-radius: 50px !important;
  transition: transform 0.3s ease;
}
.but-3{
  border-radius: 50%;
  border:5px solid #212529 !important;
  transform: translate(-10px, 0px);
  transition: transform 0.3s ease;
}
.button-wrapper:hover .but-2 {
  transform: scale(0.95);
}

.button-wrapper:hover .but-3 {
  transform: translate(-20px, 0px) rotate(-30deg) scale(0.8);
}

.hero-dog{
   height: 160px;
  position: absolute;
   top: 180px;
}

/* footer */
.footer-container {
  background-color: #000 !important;
  padding: 20px  !important;
  color:#fff;
  width: 90% !important;
  border-radius: 30px;
  margin-bottom: 20px;
  background-image: url("https://cdn.prod.website-files.com/67607a4da94c236117377bec/677225d96a3091c1df773e4e_img-footer.svg");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: auto;
}

/* blogs */

.custom-card {
  padding: 20px;
  transition: transform 0.2s;
  height: 100%;
}

.image-container {
  overflow: hidden;
  border-radius: 8px;
}

.zoom-image {
  transition: transform 0.4s ease;
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.image-container:hover .zoom-image {
  transform: scale(1.1);
}


/* consult */
.service{
  background-color: white !important;
  border-radius: 30px !important;
}

.cal{
  border: 2px solid black !important;
  border-radius: 100px;
  background-color: yellow;
  width: 30px !important;
  text-align: center !important;
}
#laptop{
  background-color: rgb(93, 195, 93);
}
#ruppee{
  background-color: rgb(214, 85, 85);
}
.appointment{
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  border: 2px solid #ccc;
}